body {
--vamtam-body-link-regular:#132573;
--vamtam-body-link-visited:#132573;
--vamtam-body-link-hover:#000000;
--vamtam-body-link-active:#000000;
--vamtam-input-border-radius:0px 0px 0px 0px;
--vamtam-btn-text-color:var(--vamtam-accent-color-5);
--vamtam-btn-hover-text-color:var(--vamtam-accent-color-5);
--vamtam-btn-bg-color:var(--vamtam-accent-color-1);
--vamtam-btn-hover-bg-color:var(--vamtam-accent-color-3);
--vamtam-site-max-width:1260px;
--vamtam-primary-font-color:#2E3031;
--vamtam-h1-color:#2A3D53;
--vamtam-h2-color:#000000;
--vamtam-h3-color:#000000;
--vamtam-h4-color:#000000;
--vamtam-h5-color:#000000;
--vamtam-h6-color:#2A3D53;
--vamtam-accent-color-1:#132573;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:19,37,115;
--vamtam-accent-color-2:#FF8D8D;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:255,141,141;
--vamtam-accent-color-3:#2A3D53;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:42,61,83;
--vamtam-accent-color-4:#D8D8D8;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:216,216,216;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#000000;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:0,0,0;
--vamtam-accent-color-7:#F5F5F5;
--vamtam-accent-color-7-hc:#000000;
--vamtam-accent-color-7-rgb:245,245,245;
--vamtam-accent-color-8:#E6F1F7;
--vamtam-accent-color-8-hc:#000000;
--vamtam-accent-color-8-rgb:230,241,247;
--vamtam-sticky-header-bg-color:#FFFFFF;
--vamtam-primary-font-font-family:'Helvetica';
--vamtam-primary-font-font-size-desktop:16px;
--vamtam-primary-font-font-size-tablet:16px;
--vamtam-primary-font-font-size-phone:16px;
--vamtam-primary-font-line-height-desktop:1.6em;
--vamtam-primary-font-line-height-tablet:1.6em;
--vamtam-primary-font-line-height-phone:1.6em;
--vamtam-h1-font-family:'Nexa';
--vamtam-h1-font-weight:bold;
--vamtam-h1-font-size-desktop:56px;
--vamtam-h1-font-size-tablet:48px;
--vamtam-h1-font-size-phone:30px;
--vamtam-h1-line-height-desktop:1.2em;
--vamtam-h1-line-height-tablet:1.2em;
--vamtam-h1-line-height-phone:1.3em;
--vamtam-h2-font-family:'Nexa';
--vamtam-h2-font-weight:bold;
--vamtam-h2-font-size-desktop:38px;
--vamtam-h2-font-size-tablet:32px;
--vamtam-h2-font-size-phone:25px;
--vamtam-h2-line-height-desktop:1.4em;
--vamtam-h2-line-height-tablet:1.4em;
--vamtam-h2-line-height-phone:1.4em;
--vamtam-h3-font-family:'Nexa';
--vamtam-h3-font-weight:bold;
--vamtam-h3-font-size-desktop:26px;
--vamtam-h3-font-size-tablet:22px;
--vamtam-h3-font-size-phone:19px;
--vamtam-h3-line-height-desktop:1.4em;
--vamtam-h3-line-height-tablet:1.4em;
--vamtam-h3-line-height-phone:1.4em;
--vamtam-h4-font-family:'Nexa';
--vamtam-h4-font-weight:bold;
--vamtam-h4-font-size-desktop:20px;
--vamtam-h4-font-size-tablet:17px;
--vamtam-h4-font-size-phone:16px;
--vamtam-h4-line-height-desktop:1.3em;
--vamtam-h4-line-height-tablet:1.3em;
--vamtam-h4-line-height-phone:1.3em;
--vamtam-h5-font-family:'Nexa';
--vamtam-h5-font-weight:bold;
--vamtam-h5-transform:uppercase;
--vamtam-h5-font-size-desktop:16px;
--vamtam-h5-font-size-tablet:14px;
--vamtam-h5-font-size-phone:14px;
--vamtam-h5-line-height-desktop:1.5em;
--vamtam-h5-line-height-tablet:1.5em;
--vamtam-h5-line-height-phone:1.3em;
--vamtam-h5-letter-spacing-desktop:0.5px;
--vamtam-h5-letter-spacing-tablet:0.5px;
--vamtam-h5-letter-spacing-phone:0.5px;
--vamtam-h6-font-family:'Nexa';
--vamtam-h6-font-weight:bold;
--vamtam-h6-font-size-desktop:12px;
--vamtam-h6-font-size-tablet:11px;
--vamtam-h6-font-size-phone:11px;
--vamtam-h6-line-height-desktop:1.6em;
--vamtam-h6-line-height-tablet:1.6em;
--vamtam-h6-line-height-phone:1.6em;
}